$color-black: #000;
$color-gray: #A3A3A3;
$color-gray2: #BDBDBD;
$color-gray3: #F3F3F3;
$color-gray4: #E5E5E5;
$color-gray5: #D8D8D8;
$color-gray6: #AFAFAF;
$color-gray7: #F0F0F0;
$color-blue: #4B51EF;
$color-green: #52CF4F;
$color-red: #D91313;
$color-white: #FFF;

